/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.jumbotron{
  background: url('Simple-Clean-Clouds-Pattern-Seamless-Blue.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.featured{
  background: url('./london-underground-carriage2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.display-3{
  color: white;
}

.btn{
  background-color: #1c89d3;
}

.btn-secondary{
  background-color: white;
  border-color: grey;
  color: grey;
}

.navbar{
  background-color: #1c89d3;
}